<div class="content">
  <h2 class="people"><%= Post.count %> <span  style="color:navy">人中</span></h2>
  <div class="result-layout">
    <div class="result-container">
      <div class="rsult-content">
        <p class="result-title">Aの人</p>
        <p class="result-number"><%= Post.where(yes_no: "A").count %></h1>
        <span class="nin">人</span>
      </div>
      <div class="rsult-content">
        <p class="result-title">Bの人</p>
        <p class="result-number"><%= Post.where(yes_no: "B").count %></h1>
        <span class="nin">人</span>
      </div>
    </div>
  </div>
  <div class="control">
    <%= form_tag("/posts/start") do %>
      <div class="input-start">
        <input class="start" type="submit" value="START" >
        <div class="center-border"></div>
        <span class="restart">リスタート！</span>
      </div>
    <% end %>
    <%= form_tag("/posts/stop", id: "stopForm") do %>
      <input id="playButton" class="result_button" type="button" value="STOP">
    <% end %>
    <%= form_tag("/posts/stop") do %>
      <input class="stop" type="submit" value="STOP">
    <% end %>
    <audio id="audioPlayer" src="<%= asset_path('answer.mp3') %>"></audio>
    <script>
      document.getElementById('playButton').addEventListener('click', function() {
        setInterval(function() {
          document.getElementById('stopForm').submit();
        }, 8000);
        document.getElementById('audioPlayer').play();
      });
    </script>
  </div>
</div>
